.blog-page {
    margin-top: 100px;

    .blog-card {
        .card {
            border: 1px solid #F2F2F2;
            box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.04);
            margin-bottom: 30px;

            img {
                position: relative;

            }

            .blog-img-badge {
                position: absolute;
                width: 100%;
                top: 10px;

                a {
                    text-decoration: none;
                    width: 60px;
                    height: 60px;
                    background: white;
                    color: black;
                    text-align: center;
                    font-size: 22px;
                    line-height: 26px;
                    display: block;
                    padding: 3px 15px;
                    margin: 10px 0 0 20px;

                    span {
                        display: block;
                        font-size: 16px;
                        border-top: 1px solid #dddddd;
                    }
                }
            }

            .card-body {
                padding: 25px;

                h5 {
                    font-size: 24px;
                    font-weight: 700;
                    background-image: var(--theme-gradiant-color);
                    background-size: 100%;
                    -webkit-background-clip: text;
                    background-clip: text;
                    -webkit-text-fill-color: transparent;
                }

                h4 {
                    font-weight: 600;
                    font-size: 26px;
                    line-height: 26px;
                    text-align: center;
                    color: #101010;
                }

                hr {
                    height: 2px;
                    width: 114%;
                    left: -25px;
                    position: relative;
                    background-color: #F2F2F2;
                    opacity: 1;
                }

                p {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 25px;
                    text-align: center;
                    color: #A0A0A0;
                    margin-bottom: 20px;

                    span {
                        color: #101010;
                        font-weight: 600;
                    }
                }

                a {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 16px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #101010;
                    text-decoration: none;
                    position: relative;
                    display: initial;

                    &::after {
                        position: absolute;
                        content: '';
                        background-image: url('../../img/Arrow\ -\ Right\ 2.png');
                        width: 10px;
                        height: 10px;
                        left: 115px;
                        top: 5px;
                        background-position: center center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    &::before {
                        position: absolute;
                        content: '';
                        width: 120%;
                        height: 2px;
                        background: #101010;
                        top: 25px;
                        left: 0;
                    }
                }
            }
        }
        .pagination-2 {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;

            .pagination-item {
                margin-right: 10px;
                border: 1px solid #A0A0A0;
                list-style: none;

                a {
                    width: 40px;
                    height: 40px;
                    text-decoration: none;
                    color: #A3A3A3;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                }

                &.pg-active {
                    background: var(--theme-gradiant-color);
                    border: none;

                    a {
                        color: white !important;
                    }
                }
            }
        }
    }
}