.product-banner-section {
    margin-top: 50px;
    margin-bottom: 30px;

    .product-banner {
        a {
            color: #A0A0A0;
            font-weight: 500;
            font-size: 18px;
            text-decoration: none;
        }

        .home-a {
            &::after {
                content: "\f105";
                font-weight: normal;
                font-family: FontAwesome;
                padding-right: 10px;
                padding-left: 10px;
                color: #A0A0A0;
            }
        }

        .product-1 {
            background-image: var(--theme-gradiant-color);
            background-size: 100%;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 600;
        }
    }
}

.product-details {
    .product-details-left {
        position: relative;

        .gallery {
            .swiper-slide {
                cursor: pointer;
            }

            img {
                width: 100%;
                height: auto;
            }
        }

        .gallery-thumbs {
            margin-top: 15px;
            position: initial;

            .swiper-slide {
                width: auto;
                border-radius: 10px;
                opacity: 0.8;
            }

            .swiper-slide-active {
                opacity: 1;
                background:
                    var(--theme-gradiant-color);
                border: 2px solid transparent;
                z-index: 1;
            }

            img {
                cursor: pointer;
                width: 100%;
                border-radius: 10px;
                object-fit: contain;
            }
        }

        .swiper-button-next {
            top: 92%;
            right: -8px;
            padding-right: 15px;
            transition: opacity 0.6s;

            &:hover {
                opacity: 1;
            }

            &:after {
                margin-left: auto;
                font-size: 16px;
                color: white;
                background: black;
                padding: 15px;
                background: var(--theme-gradiant-color);
                border-radius: 50%;
                line-height: 10px;
            }
        }

        .shop-img-badge {
            position: absolute;
            width: 94%;
            top: 18px;
            z-index: 1;

            .percentage {
                background-color: #FF2E2E;
                text-decoration: none;
                color: white;
                font-size: 14px;
                font-weight: 700;
                margin: 10px;
                padding: 5px 10px;
            }
        }

        .swiper-button-prev {
            top: 92%;
            left: -8px;
            padding-left: 15px;
            transition: opacity 0.6s;

            &:hover {
                opacity: 1;
            }

            &:after {
                margin-right: auto;
                font-size: 16px;
                color: white;
                background: black;
                padding: 15px;
                background: var(--theme-gradiant-color);
                border-radius: 50%;
                line-height: 10px;
            }
        }

        .swiper-container-rtl {
            .swiper-button-next {
                &:after {
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }
    }

    .product-details-right {
        h6 {
            font-weight: 700;
            font-size: 28px;
            line-height: 33px;
            text-transform: uppercase;
            margin-bottom: 20px;
        }

        ul {
            li {
                i {
                    color: #FF971D;
                    font-size: 18px;
                    margin-right: 3px;
                }
            }

            a {
                text-decoration: none;
                color: #A0A0A0;
                font-weight: 500;
                margin-left: 5px;
            }
        }

        .card-text {
            font-size: 26px;
            line-height: 31px;
            color: black;
            font-weight: 700;

            span {
                color: #FF3939;
                font-size: 16px;
                position: relative;

                &::after {
                    border-top: 1px solid;
                    position: absolute;
                    content: "";
                    right: 0;
                    top: 50%;
                    left: 0;
                }
            }
        }

        .product-p {
            font-weight: 400;
            font-size: 18px;
            line-height: 26px;
            text-align: justify;
            color: #A0A0A0;
            padding-top: 20px;
            border-top: 2px solid #ececec;
        }

        .product-details-img {
            .product-details-img-content {
                text-align: center;
                padding: 0 10px;

                img {
                    margin-bottom: 20px;
                }

                p {
                    font-weight: 600;
                    font-size: 16px;
                    line-height: 19px;
                    text-align: center;
                    color: black;
                    margin-bottom: 0;
                }
            }
        }

        .pagination-2 {
            display: flex;
            margin: 0;
            padding: 0;
            margin-top: 40px;
            margin-left: 20px;

            .pagination-item {
                border: 1px solid #A0A0A0;
                list-style: none;

                a {
                    width: 40px;
                    height: 55px;
                    text-decoration: none;
                    color: #A3A3A3;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    i {
                        color: #A0A0A0;
                    }

                }

                input {
                    width: 50px;
                    height: 100%;
                    border: none;
                    text-align: center;
                    color: #A0A0A0;

                    &:focus-visible {
                        outline: none;
                    }
                }
            }

            button {
                width: 100%;
                margin-left: 20px;
                background: var(--theme-gradiant-color);
                color: white;
                font-weight: 600;
                font-size: 24px;
                line-height: 28px;
                border: none;

                img {
                    margin-right: 10px;
                }
            }
        }
    }

}

.product-des {
    margin-top: 100px;
    border-top: 2px solid #ececec;
    position: relative;

    &::before {
        position: absolute;
        content: '';
        width: 100%;
        border: 1px solid #ececec;
        top: 100px;
        left: 0;
    }

    .nav-pills {
        margin: 30px 0;

        .nav-link {
            position: relative;
            background: transparent;
            color: #000000;
            font-weight: 600;
            font-size: 24px;
            line-height: 28px;
            text-transform: uppercase;

            &.active::after {
                bottom: 0px;
                content: "";
                display: block;
                height: 3px;
                left: 14px;
                position: absolute;
                background-image: var(--theme-gradiant-color);
                background-size: 100%;
                transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
                width: 85%;
            }

            &.active {
                background: transparent;
                color: #000000;
                font-weight: 600;
                font-size: 24px;
                line-height: 28px;
                text-transform: uppercase;
            }

            &::after {
                bottom: 0px;
                content: "";
                display: block;
                height: 3px;
                left: 14px;
                position: absolute;
                background-image: var(--theme-gradiant-color);
                background-size: 100%;
                transition: width 0.3s ease 0s, opacity 0.3s ease 0s;
                width: 0
            }

            &:hover::after {
                width: 85%;
            }
        }
    }

    .tab-content {
        margin-top: 50px;

        p {
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            color: #A0A0A0;

            span {
                color: #101010;
                font-weight: 700;
            }
        }

        ul {
            li {
                color: #A0A0A0;
                font-size: 18px;
                line-height: 30px;
                font-weight: 500;
            }
        }

        .review {
            h2 {
                font-weight: 700;
                font-size: 26px;
                line-height: 35px;
                color: #000000;
                margin-bottom: 20px;
            }

            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 21px;
                color: #A0A0A0;
                margin-bottom: 20px;
            }

            ul {
                margin-bottom: 50px;

                h6 {
                    margin-right: 15px;
                }

                li,
                h6 {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 23px;
                    color: #000000;


                    i {
                        color: #ececec;
                        margin-right: 5px;
                    }
                }
            }

            label {
                font-weight: 600;
                font-size: 20px;
                line-height: 23px;
                color: #000000;
            }

            textarea {
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
                color: #A0A0A0;
                padding: 15px;
                border-radius: 5px;

                &:focus {
                    background: transparent;
                    border: 1px solid #A0A0A0;
                    outline: 0;
                    box-shadow: none;
                }
            }

            button {
                width: 100%;
                background: var(--theme-gradiant-color);
                color: white;
                font-weight: 600;
                font-size: 24px;
                line-height: 28px;
                border: none;
                padding: 15px;
                margin-top: 20px;
            }

            .review-right {
                h2 {
                    font-weight: 600;
                    font-size: 26px;
                    line-height: 35px;
                    color: #000000;
                    margin-bottom: 20px;
                }

                .review-box {
                    border: 1px solid #e3e3e3;
                    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.07);
                    border-radius: 5px;
                    padding: 15px;
                    margin-bottom: 10px;

                    .avtar {
                        i {
                            background-color: #A0A0A0;
                            color: rgba(19, 15, 38, 1);
                            opacity: 0.4;
                            width: 40px;
                            height: 40px;
                            text-align: center;
                            line-height: 38px;
                            border-radius: 50%;
                        }

                        .avtar-name {
                            margin-left: 20px;

                            h6 {
                                font-weight: 600;
                                font-size: 16px;
                                line-height: 19px;
                                color: #000000;
                                margin-bottom: 0;
                            }

                            ul {
                                margin-bottom: 10px;
                            }

                            i {
                                background-color: transparent;
                                color: rgba(255, 151, 29, 1);
                                opacity: 1;
                                margin-right: 5px;
                                width: 18px;
                                height: 18px;
                                font-size: 16px;
                            }
                        }
                    }

                    p {
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 16px;
                        text-align: justify;
                        color: #000000;
                    }
                }
            }
        }

    }
}

.Related-products {
    margin-top: 50px;
    position: relative;

    h2 {
        font-weight: 700;
        font-size: 44px;
        line-height: 52px;
        color: #101010;
        margin-bottom: 50px;
    }

    .card {
        border: 1px solid #F2F2F2;
        box-shadow: 0px 2px 30px rgba(0, 0, 0, 0.02);
        margin-bottom: 25px;

        .img {
            position: relative;
        }

        .shop-img-badge {
            position: absolute;
            width: 100%;
            top: 10px;

            .hot {
                background: #FF6F00;
                text-decoration: none;
                color: white;
                font-size: 14px;
                font-weight: 700;
                margin: 10px;
                padding: 5px 10px;
            }

            .percentage {
                background-color: #FF2E2E;
                text-decoration: none;
                color: white;
                font-size: 14px;
                font-weight: 700;
                margin: 10px;
                padding: 5px 10px;
            }
        }

        .shop-img-badge-2 {
            position: absolute;
            width: 100%;
            top: 180px;

            .heart {
                border: 1px solid black;
                border-image: var(--theme-gradiant-color) 1;
                background: white;
                padding: 10px 10px;
                position: relative;
                top: 15px;
                left: 365px;
            }

            .bag {
                border: 1px solid black;
                border-image: var(--theme-gradiant-color) 1;
                background: white;
                padding: 10px 10px;
                position: relative;
                top: 68px;
                right: 10px;
            }
        }

        .card-body {
            ul {
                li {
                    i {
                        color: #FF971D;
                        font-size: 16px;
                        margin-right: 5px;
                    }
                }

                a {
                    text-decoration: none;
                    color: #A0A0A0;
                    font-weight: 500;
                    margin-left: 5px;
                }
            }

            .card-title {
                font-weight: 700;
                font-size: 16px;
                color: #000;
            }

            .card-text {
                font-size: 20px;
                font-weight: 700;
                color: #A0A0A0;

                span {
                    color: #FF3939;
                    font-size: 12px;
                    position: relative;

                    &::after {
                        border-top: 1px solid;
                        position: absolute;
                        content: "";
                        right: 0;
                        top: 50%;
                        left: 0;
                    }
                }
            }

            .shop-btn {
                width: 100%;
                background: var(--theme-gradiant-color);
                border: none;
                padding: 13px;

                &:focus {
                    color: #fff;
                    background-color: none;
                    border-color: none;
                    box-shadow: none;
                }

                &:hover {
                    border: none;
                }
            }
        }
    }
}